* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background-color: #131335;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15px 0px;
  max-width: 414px;
  min-height: 100vh;
  gap: 12px;
  position: relative;
}
.blur {
  width: 414px;
  height: 280px;
  background: #fff;
  z-index: -1;
  position: absolute;

  background: #ffffff;
  opacity: 0.25;
  filter: blur(24px);
}
h1 {
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  color: #ffffff;
  padding-top: 15px;
}

.container-inputs {
    margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
label {
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  display: flex;
  letter-spacing: -0.408px;
  margin-bottom: 4px;
  margin-left: 4px;
  color: rgba(255, 255, 255, 0.6);
}

input {
  width: 100%;
  height: 42px;
  margin-bottom: 8px;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: -0.24px;
  color: #ffffff;
  padding-left: 4px;
}

input::placeholder {
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: -0.24px;
  color: #ffffff;
}

.btn-login {
  width: 100%;
  height: 68px;
  font-weight: 900;
  background: rgb(118, 34, 34);
margin-top: 20px;
  font-size: 17px;
  line-height: 2px;
  color: #ffffff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
 transition: 0.3s ease;
}


.btn-login:hover {
    cursor: pointer;
opacity: 0.8;
}

.btn-login:active {
    opacity: 0.6;
}


i {
    font-weight: 900;
    font-size: 22px;
    line-height: 2px;
    color: #ffffff;
  

}

 .btn-google{
width: 100%;
height: 68px;
border: none;
display: flex;
align-items: center;
justify-content: center;
transition: 0.3s ease;
background: rgba(255, 255, 255, 0.14);

font-weight: 900;
font-size: 17px;
line-height: 2px;
color: #FFFFFF;
gap: 12px;





 }
 .btn-google:hover {
    cursor: pointer;
opacity: 0.8;
}
.btn-google:active {
    opacity: 0.6;
}

.container-link{
    margin-top: 20px;
    position: relative;
}


a {
  
font-weight: 900;
font-size: 14px;
line-height: 16px;
color: rgba(255, 255, 255, 0.6);
text-decoration: none;

}

a::after{
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    background-color: #d93856;
    bottom: -3px;
    left: 0;
    transition: 0.3s ease;

}


a:hover ::after{
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: #d93856;
    bottom: -3px;
    left: 0;

}
spam{
    color: #ffffff;
}